/* pricing.css */
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  margin: 0 5rem; /* Margen lateral para cada tarjeta */
}

/* Clase específica para márgenes laterales */
.card {
  margin: 0 10rem 10rem 0;
}

/* Glassmorphism card style */
.card {
  backdrop-filter: blur(10rem);
  background: linear-gradient(to right, rgba(59, 130, 246, 0.5), rgba(139, 92, 246, 0.5)); /* Apply gradient */
  border-radius: 1rem;
  box-shadow: 4rem 4rem 3rem rgba(30, 83, 83, 0.8);
  border: 0.1rem solid rgba(23, 185, 193, 0.3);
  padding: 1rem;
}

.card-body {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1.5rem;
}

.card-title {
  background: linear-gradient(to right, #ffffff, #d8dce2); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}