.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinksContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
